<!-- <body>
    <div class="Buyer">
        <form>
            <a routerlink
            <h2 style="color: aliceblue">Log In</h2>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="pass" placeholder="Password"><br><br>
            <a href=""><input type="button" value="Log In"></a><br><br>
            <div id="container-fluid">
                <a href="#" style="margin-right: 0px; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Reset Password</a><br><br>
                <a href="#" style="margin-right: 0px; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Forget Password</a>
            </div><br><br>
            Don't have an account?<a href="#">&nbsp;Sign Up</a>
            
        </form>
    </div>
    
</body> -->
