.sidenav{
    height: 90%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color:#5DBCD2;
    overflow-x: hidden;
    padding-top: 20px;
    
}
.sidenav a{
    padding: 4px 6px 5px 12px;
    text-decoration: darksalmon;
    font-size: 25px;
    color: #818185;
    display: block;
}