<body>
    <div id="login-box">
        <div class="left-box">
            <h1>Sign Up</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password" placeholder="Retype-Password">
            <!-- <input type="submit" name="signup-button" value="Sign Up"> -->
            <button routerLink="/dashboard" class="btn">Sign Up</button>
            
        </div>
        <div class="right-box">
                <span class="signinwith">Sign In With<br><br>Social Network</span>
                <button class="Social facebook">Log In With Facebook</button>
                <button class="Social twitter">Log In With twitter</button>
                <button class="Social google">Log In With Google</button>
        </div>
        <div class="or">OR</div>
    </div>
</body>
