<body>
    <!-- <div class="navbar-fixed"> -->
        <!-- <a routerLink ="/sidebar">Menu</a>
    </div>
    <div class="container-fluid">
        <div class="menu">
           <ul>
               <form>
                   <input type="search" class="googlesearch" placeholder="Search">
               </form>
            </ul>
         </div> -->
         <!-- <nav class="teal">
             <div class="container">
                 <div class="nav-wrapper">
                     <a href="#" class="brand-logo">BOOKSVILLA</a>
                     <a routerLink="/sidebar" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="material-icon">Menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <form>
                            <input type="search" class="googlesearch" placeholder="Search">
                        </form>
                        <li>
                            <a routerLink="/buy">Buy</a>
                        </li>
                        <li>
                            <a routerLink="/sell">Sell</a>
                        </li>
                    </ul>
                 </div>
             </div>
         </nav>
     </div> -->
     <div class="container-fluid">
        <h1>BOOKSVILLA</h1>
        <div class="row">
          <div class="col-lg-3">
            <div class="sidenav">
                <a routerLink="/home">HOME</a>
                <a routerLink="/about">ABOUT</a>
                <a routerLink="/services">SERVICES</a>
            </div>
          </div>
          <div class="col-lg-9" >
            <div class="aside">
                <form>
                    <input type="search" class="googlesearch" placeholder="Search">
                </form>
                <ol>
                    <li><a routerLink="/buy">Buy</a></li>
                    <li> <a routerLink="/sell">Sell</a></li>
                </ol>
            </div>
            
          </div>
        </div>
      </div>
</body>