<body>
    <div class="coming">
        <h1>Books Coming</h1>
        <h2>We are coming soon</h2>

        <div class="count">
            <div class="countd">
                <span id="days">00</span>
                Days
            </div>
            <div class="countd">
                <span id="hours">00</span>
                Hours
            </div>
            <div class="countd">
                <span id="minute">00</span>
                Minute
            </div>
            <div class="second">
                <span id="days">00</span>
                Second
            </div>
        </div>
    </div>
    </body>